<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.kamil.machininghelper">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Activities.MachiningHelperApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Activities.SingleFragmentActivity"/>
        <activity android:name=".Activities.CalculatorActivity"/>
        <activity android:name=".Activities.DimensionsAndToleranceActivity"/>
        <activity android:name=".Activities.GCodeBaseActivity"/>
        <activity android:name=".Activities.ParametersCreatorActivity">
        </activity>
        <activity android:name=".Activities.GCodeDetailActivity"
            android:parentActivityName=".Activities.GCodeBaseActivity">
        </activity>
        <activity android:name=".Activities.MachiningProblemsActivity">
        </activity>
        <activity android:name=".Activities.CalculatorParametersActivity">
        </activity>
        <activity android:name=".Activities.MachiningProblemsSolutionActivity">
        </activity>
        <activity android:name=".Activities.CalculatorFormulasActivity">
        </activity>
        <activity android:name=".Activities.DetailCreatorActivity">
        </activity>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="3bcee4db5eee18b91451c121d7d76482fd9d5b49" />
    </application>

</manifest>